.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.item{
    border: 2px solid red;
    padding: 10px;
    background: linear-gradient(0deg, rgba(195,34,63,0.2679665616246498) 28%, rgba(18,29,201,0.2315519957983193) 80%);
}

span{
    font-size: 15px;
    font-weight: bold;
}